.main {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    width: 100%;
}

.main .adv {
    width: 100%;
    padding-left: 20px;
}

.main .adv .swiper-slide img {
    width: 100%;
}

.main .adv .swiper-container{
    margin-top: 30px;
    width: 100%;
    max-height: 350px;
}

.goodsbox {
    padding-left: 20px;
    list-style: none;
}

.goodsbox .class-item {
    margin: 0 auto 30px;
    position: relative;
    z-index: 1;
}

.goodsbox .class-item .class-bg-layer {
    transition: all 0.3s ease 0s;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: -1;
}

.goodsbox .class-item .class-item-bg {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: all 0.3s ease 0s;
}

.goodsbox .class-item:hover .class-item-bg {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08), 0 3px 3px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.08), 0 3px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.08), 0 3px 3px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.08), 0 3px 3px rgba(0, 0, 0, 0.12);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.goodsbox .class-item:hover .class-bg-layer {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .4s .05s ease;
    -moz-transition: all .4s .05s ease;
    -o-transition: all .4s .05s ease;
    transition: all .4s .05s ease
}



.goodsbox .img-responsive {
    display: block;
    height: 200px;
    max-width: 100%;
    width: 270px;
}

.goodsbox .items {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 290px;
}

.goodsbox .items .title {
    color: #1b816c;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    line-height: 22px;
    word-break: break-all;
    word-wrap: break-word;
}

.goodsbox .pricehot .hot {
    color: #888;
    display: inline-block;
    float: right;
    font-size: 13px;
    margin-top: 5px;
}

.goodsbox .pricehot .price {
    color: red;
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    line-height: 1.0;
}

.class-item .some .school {
    color: #858d8e;
    display: inline-block;
    float: left;
    text-align: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 65%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
}

.class-item .some .renzheng {
    color: #858d8e;
    display: inline-block;
    float: right;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
}

.school-box {
    padding-left: 20px;
}

.school-box .inner-box {
    margin: 30px 0 0;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
}

.school-box .inner-box .school a {
    background: rgba(220,220,220,0.7);
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    color: #555;
    transition: all 0.3s;
    margin-bottom: 8px;
    display: inline-block;
}

.school-box .inner-box .school a:hover {
    background-color: rgba(153,204,255,0.5);
    color: #0a8;
}

.school-box .inner-box .school a.active {
    background-color: rgba(153,204,255,0.5);
    color: #0a8;
}

.school-box .inner-box .school .more {
    color: #333;
    text-decoration: underline;
    background: transparent;
    padding-bottom: 3px;
}

.school-box .inner-box .school .more:hover {
    background: #fff;
}

.school-box .inner-box .order {
    margin-top: 10px;
    text-align: center;
}

.school-box .inner-box .order a {
    color: #555;
    display: inline-block;
    margin: 0 5px;
}

.school-box .inner-box .order a.active {
    color: rgb(0,170,136);
}


